@import 'fonts';
@import 'colors';

.featured {
    h2 {
        text-align: center;
        font-family: $satisfy;
        color: $lightpurple;
        font-size: 3rem;
    }
    .recent-projects {
        display: flex;
        a {
            text-decoration: none;
            .project1 {
                height: 300px;
                color: $white;
                font-family: $body;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image:url('../../assets/Rebecca-Diem-featured-01-Read-The-North.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                overflow: hidden;
                z-index: 1;
                transition: all 0.3s ease-in-out;
                h3 {
                    font-size: 1.5em;
                    text-transform: uppercase;
                    font-family: $heading;
                }
                p {
                    max-width: 100%;
                    width: 80%;
                    text-align: center;
                    letter-spacing: 1px;
                    font-family: $body;
                }
            }

            .project1:hover {
                transform: scale(1.03);
                z-index: 10;
                box-shadow: 10px 10px 8px rgb(68, 0, 107, 0.7);
            }

            .project2 {
                height: 300px;
                color: $white;
                font-family: $body;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image:url('../../assets/Rebecca-Diem-featured-02-Write-Magazine.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                overflow: hidden;
                z-index: 1;
                transition: all 0.4s ease-in;
                h3 {
                    font-size: 1.5em;
                    text-transform: uppercase;
                    font-family: $heading;
                }
                p {
                    max-width: 100%;
                    width: 80%;
                    text-align: center;
                    letter-spacing: 1px;
                    font-family: $body;
                }
            }
            .project2:hover {
                transform: scale(1.03);
                z-index: 10;
                // box-shadow: 10px 0 8px rgb(68, 0, 107, 0.7), 0 -10px 8px rgb(68, 0, 107, 0.7), -10px 0 8px rgb(68, 0, 107, 0.7), 0 -10px 8px rgb(68, 0, 107, 0.7);
                box-shadow: 10px 10px 8px rgb(68, 0, 107, 0.7), -10px -10px 12px rgb(68, 0, 107, 0.3);

            }

            .project3 {
                height: 300px;
                color: $white;
                font-family: $body;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image:url('../../assets/Rebecca-Diem-featured-03-lighthouse.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                overflow: hidden;
                z-index: 1;
                transition: all 0.3s ease-in;
                h3 {
                    font-size: 1.5em;
                    text-transform: uppercase;
                    font-family: $heading;
                }
                p {
                    max-width: 100%;
                    width: 80%;
                    text-align: center;
                    letter-spacing: 1px;
                    font-family: $body;
                }
            }
            .project3:hover {
                transform: scale(1.03);
                z-index: 10;
                box-shadow: 10px 10px 8px rgb(68, 0, 107, 0.7);
            }
        }

    }
}