$heading: 'Barlow', sans-serif;
$body: 'Rasa', serif;
$button: 'Barlow Condensed', sans-serif;
$satisfy: 'Satisfy', serif;



// font-family: 'Barlow', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Rasa', serif;