.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
    div {
        width: calc(100% / 4);
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150px;
    }
}