@import 'fonts';
@import 'colors';

header {
    display: flex;
    background-color: $lightpurple;
    justify-content: center;
    align-items: center;
    height: 46px;
    font-family: $body;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 5px;
    h3 {
        margin: 0;
        padding: 0;
        width: 50%;
        padding-left: 125px;
        letter-spacing: 1px;
        transition: all 0.2s;
        position: relative;
        a {
            text-decoration: none;
            color: $darkpurple;
            transition: all 0.2s;
        }
        a:hover {
            color: white;
        }
    }
    h3::before {
        content: '';
        background-image: url('../../assets/RebeccaDiem_Logo\ \(1\).png');
        display: block;
        width: 45px;
        height: 45px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        background-position: center;
        left: 75px;
        top: -8px;
    }

    nav {
        width: 50%;
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            padding: 0;
            .hiddenHomeButton {
                display: none;
            }
            li {
                margin: 0;
                letter-spacing: 1px;
                a {
                    text-decoration: none;
                    color: $darkpurple;
                    transition: all 0.2s ease-in-out;
                }
                a:hover {
                    color: white;
                }
            }
        }
    }
}