.intro {
    .image-container {
        width: 40%;
        margin: 0 auto;
        img {
            border-radius: 50px;
            border: 1px solid white;
            width: 100%;
            overflow: hidden;
        }
    }
}