html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #BFABC9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  font-family: "Rasa", serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-top: 5px;
}
header h3 {
  margin: 0;
  padding: 0;
  width: 50%;
  padding-left: 125px;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}
header h3 a {
  text-decoration: none;
  color: #65526E;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
header h3 a:hover {
  color: white;
}
header h3::before {
  content: "";
  background-image: url("../../assets/RebeccaDiem_Logo (1).png");
  display: block;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: center;
  left: 75px;
  top: -8px;
}
header nav {
  width: 50%;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
header nav ul .hiddenHomeButton {
  display: none;
}
header nav ul li {
  margin: 0;
  letter-spacing: 1px;
}
header nav ul li a {
  text-decoration: none;
  color: #65526E;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header nav ul li a:hover {
  color: white;
}

.landing {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../assets/Rebecca-Diem-2019.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.landing h1 {
  letter-spacing: -5px;
  position: relative;
  left: 18%;
  bottom: 5%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 5.5rem;
  text-transform: uppercase;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 7%;
}
.featured h2 {
  text-align: center;
  font-family: "Satisfy", serif;
  font-weight: 400;
  font-size: 3rem;
  color: #BFABC9;
  margin-top: 0;
  padding-top: 0;
}
.featured .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.featured .features .feature1,
.featured .features .feature2,
.featured .features .feature3 {
  width: calc(33.3333333333% - 10px);
  position: relative;
}
.featured .features .feature1 img,
.featured .features .feature2 img,
.featured .features .feature3 img {
  max-width: 100%;
}
.featured .features .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured .features .description h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.featured .features .description h3 a {
  text-decoration: none;
  color: #FFF;
}
.featured .features .description h3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.featured .features .description p {
  font-family: "Rasa", serif;
  font-size: 1.25rem;
  width: 80%;
}
.featured .see-more {
  text-align: center;
}
.featured .see-more h3 {
  margin: 0;
  padding: 0;
}
.featured .see-more span {
  border: 1px solid black;
  padding: 8px 10px;
}

.intro {
  padding: 40px;
}
.intro .short-bio h2 {
  text-align: center;
  font-family: "Satisfy", serif;
  font-weight: 400;
  font-size: 3rem;
  color: #BFABC9;
}
.intro .short-bio p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.65;
  letter-spacing: 1px;
  font-family: "Rasa", serif;
  margin-bottom: 4%;
  font-size: 1.3rem;
}
.intro .short-bio p .namesake {
  color: #BFABC9;
  font-size: 1.8rem;
  font-family: "Satisfy", serif;
  letter-spacing: -1px;
}

footer {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BFABC9;
  font-family: "Rasa", serif;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 7px 0 0 0;
}
footer ul li {
  font-size: 1.5rem;
}
footer ul li a {
  color: #65526E;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer ul li a:hover {
  color: white;
}

.writing-page h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  text-align: center;
  padding: 0;
}
.writing-page h2 {
  font-family: "Satisfy", serif;
  font-size: 3rem;
  color: #BFABC9;
  text-align: center;
}
.writing-page h3 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}
.writing-page .books .book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.writing-page .books .book-list div {
  width: 17.5%;
}
.writing-page .books .book-list div img {
  max-width: 100%;
}
.writing-page .books .buy {
  border-bottom: 1px solid black;
}
.writing-page .books .buy h3 {
  font-family: "Barlow", sans-serif;
  margin-top: 5%;
}
.writing-page .books .buy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 5% 0;
  padding: 0;
}
.writing-page .books .buy ul li {
  padding: 0 5%;
  width: 300px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.writing-page .books .buy ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.writing-page .books .buy ul li a:hover {
  color: #BFABC9;
}
.writing-page .articles,
.writing-page .poetry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}
.writing-page .articles ul,
.writing-page .poetry ul {
  padding-left: 10%;
}
.writing-page .articles ul li,
.writing-page .poetry ul li {
  font-family: "Rasa", serif;
  font-size: 1.25rem;
}
.writing-page .articles ul li a,
.writing-page .poetry ul li a {
  text-decoration: none;
  color: black;
}
.writing-page .poetry {
  margin-bottom: 5%;
}